<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.providers.im"
        android:sharedUserId="android.uid.shared">

    <permission android:name="com.android.providers.im.permission.READ_ONLY"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous"
        android:label="@string/ro_perm_label"
        android:description="@string/ro_perm_desc" />

    <permission android:name="com.android.providers.im.permission.WRITE_ONLY"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous"
        android:label="@string/wo_perm_label"
        android:description="@string/wo_perm_desc" />

    <uses-permission android:name="com.android.providers.im.permission.READ_ONLY" />
    <uses-permission android:name="com.android.providers.im.permission.WRITE_ONLY" />

    <application android:process="android.process.acore"
            android:label="@string/im_label"
            android:icon="@drawable/ic_launcher_im"
            android:taskAffinity="android.task.im">
        <!-- TODO: remove this library include. It's a hack so we can load its classes -->
        <uses-library android:name="com.android.im.plugin" />

        <provider android:name="ImProvider" android:authorities="im"
            android:multiprocess="false"
            android:readPermission="com.android.providers.im.permission.READ_ONLY"
            android:writePermission="com.android.providers.im.permission.WRITE_ONLY"
            android:grantUriPermissions="true" />

        <activity android:name=".LandingPage"
                android:enabled="@bool/enableLandingPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/im-providers" />
            </intent-filter>
        </activity>
    </application>
</manifest>
